.titulo 
    text-align center
    font-size 28px
    text-transform uppercase
    font-family sans-serif

.td 
    padding: 7px !important
    left 3% !important
    position relative !important
    
.td, th 
    padding 55px
    position relative
    left -54px

.create-form-paln-auditoria
    left 0%

.icons
    padding 5px 10px
    font-size 12px
    line-height 1.5
    border-radius 16px
    
.fa-edit:before 
    content "\f044"
    left 1px
    position: relative
.center
    text-align: center

.fa-plus-square:before 
    content "\f0fe"
    font-size 23px

.vertical-menu {
    width: 300px; /* Set a width if you like */
}

.vertical-menu a {
    background-color: #222d32;; /* Grey background color */
    color: #b8c7ce; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
   background-color: #222d32; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}